$color-links: #2A2A2A;
$color-light: #FFFFFF;
$color-for-colored-button: #FD2016;
$color-border: #FFFFFF;
$color-scroll-down-line: #EFEFEF;
$color-header-horizontal-line: #2A2A2A;
$color-point-background: #20C863;