.hero{
   background: url(../../assets/images/bg-min.jpg);
   background-size: cover;
   background-position: center;
   margin-left: 7.29vw;

   &__first-row{
      width: 92.71vw;
      padding-top: 6.67vw;
   }

   &__first-row-title{
      width: 52.66vw;
      margin-left: 5.99vw;
      color: $color-light;
   }

   &__first-row-title-bold-text{
      font-size: 3.39vw;
      font-weight: 700;
      line-height: 4.95vw;
      letter-spacing: 2%;
   }

   &__first-row-subtitle{
      color: $color-light;
      margin-top: 2.34vw;
      margin-bottom: 2.34vw;
      margin-left: 5.99vw;
   }

   &__first-row-buttons{
      display: flex;
      margin-left: 5.99vw;
   }

   &__colored-button{
      margin-right: 1.15vw;
   }

   &__second-row, .second-row{
      display: flex;
      margin-top: 6.46vw;
      margin-left: 5.99vw;

      &__title{
         font-size: 0.89vw;
         font-weight: 300;
         line-height: 1.41vw;
         letter-spacing: 2%;
         color: $color-light;

         &-bold-text{
            font-size: 0.89vw;
            font-weight: 800;
            line-height: 1.41vw;
            letter-spacing: 2%;
         }
      }

      &__first-column, .first-column{
         border-right: 1px solid $color-light;

         &__title{
            width: 10.73vw;
            font-weight: 300;
            margin-top: 1.15vw;
            margin-right: 4.95vw;
            margin-bottom: 3.70vw;

            &-bold-text{
               font-weight: 700;
            }
         }
      }

      &__second-column, .second-column{
         border-right: 1px solid $color-light;

         &__check-mark-icon{
            margin-left: 4.95vw;
         }

         &__title{
            width: 11.56vw;
            margin: 0.99vw 4.95vw 1.77vw 4.95vw;
         }
      }
      &__third-column, .third-column{
         border-right: 1px solid $color-light;
         &__check-mark-icon{
            margin-left: 4.95vw;
         }
         &__title{
            width: 7.40vw;
            margin: 0.99vw 4.95vw 3.18vw 4.95vw;
         }
      }
      &__fourth-column, .fourth-column{
         &__check-mark-icon{
            margin-left: 4.95vw;
         }
         &__title{
            width: 20vw;
            margin: 0.99vw 4.95vw 1.77vw 4.95vw;
         }
      }
   }
}
