.hero{
   background: url(../../assets/images/bg-min.jpg);
   background-size: cover;
   background-position: center;
   margin-left: 7.29vw;

   &__first-row{
      width: 92.71vw;
      padding-top: 6.67vw;
   }

   &__first-row-title{
      width: 52.66vw;
      margin-left: 5.99vw;
      color: $color-border;
   }

   &__first-row-title-bold-text{
      font-size: 3.39vw;
      font-weight: 700;
      line-height: 4.95vw;
      letter-spacing: 2%;
   }

   &__first-row-subtitle{
      font-size: 27px;
      font-weight: 400;
      line-height: 45px;
      letter-spacing: 2%;
      color: $color-border;
      margin-top: 2.34vw;
      margin-bottom: 2.34vw;
      margin-left: 5.99vw;
   }

   &__first-row-buttons{
      display: flex;
      margin-left: 5.99vw;
   }

   &__colored-button{
      margin-right: 1.15vw;
   }

   &__second-row{
      display: flex;

      &__first-column{
         display: flex;
         flex-direction: column;
         background-color: white;
      }
   }
}