.call{
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 0.63vw;
   font-weight: 400;
   line-height: 1.09vw;
   letter-spacing: 5%;
   color: $color-links;

   &__work-schedule{
      display: flex;
      align-items: center;
   }

   &__work-schedule-icon{
      display: block;
      width: 0.21vw;
      height: 0.21vw;
      background-color: $color-point-background;
      margin-right: 0.31vw;
   }

   &__number{
      display: flex;
      align-items: center;
      font-size: 1.04vw;
      font-weight: 700;
      line-height: 0.52vw;
      margin-top: 0.31vw;
      margin-bottom: 0.31vw;
   }

   &__number-icon{
      margin-left: 0.21vw;
   }

   &__order-call{
      display: flex;
      align-items: center;
      position: relative;
      text-decoration: none;
      & label:hover{
         cursor: pointer;
      }
      &:hover .call__red-point-block{
         column-gap: 0.1vw;
         transition: 0.5s;
      }
      &:not(:hover) .call__red-point-block{
         transition: 0.5s;
      }
   }

   &__order-call-icon{
      display: inline-block;
      width: 0.31vw;
      height: 0.31vw;
      background: url(../../assets/icons/Order-call.svg);
      background-position: center;
      background-size: cover;
      margin-left: 0.31vw;
   }

   &__red-point-block{
      display: flex;
      top: 1vw;
   }
}

.order-call-pop-up-window-form{
   display: none;
   width: 26.04vw;
   background: rgba(30,33,34,255);
   .pop-up-window-title{
      width: 14.69vw;
      font-size: 1.67vw;
      font-weight: 500;
      line-height: 2.29vw;
      text-align: center;
      margin: auto;
      margin-top: 2.34vw;
      color: $color-light;
   }
   
   .pop-up-window-subtitle{
      width: 18.91vw;
      font-size: 0.94vw;
      font-weight: 400;
      line-height: 1.46vw;
      text-align: center;
      color: $color-light;
      margin: auto;
      margin-top: 0.52vw;
      margin-bottom: 1.77vw;
   }

   .pop-up-window-text{
      font-size: 0.73vw;
      font-weight: 400;
      line-height: 0.99vw;
      color: $color-light;
      margin: auto;
   }

   #pop-up-window-order-phone{
      padding: 1.46vw 4.9929vw 1.46vw 2.46vw;
      border: none;
      margin: auto;
      margin-top: 0.63vw;
      margin-bottom: 1.30vw;
      border-radius: 3.80vw;
      font-size: 0.94vw;
      font-weight: 400;
      line-height: 1.25vw;
      letter-spacing: 3%;
  
      &:focus{
         border: none;
         outline: none;
      }
   }

   .pop-up-window-block-check-mark{
      display: grid;
      grid-template-columns: auto auto;
      margin: auto;
      margin-top: 1.30vw;
      margin-right: 4.06vw;
      margin-bottom: 3.91vw;
      margin-left: 3.59vw;
      }

      .pop-up-window-check-mark-button{
         display: flex;
         justify-content: center;
         align-items: center;
         align-self: center;
         width: 1.04vw;
         height: 1.04vw;
         background: none;
         border: 1px solid $color-light;
         box-sizing: border-box;
         border-radius: 0.26vw;
         margin-right: 0.73vw;
      }

      #pop-up-window-check-mark{
         display: none;
         &:checked ~ .pop-up-window-check-mark-button{
            border: none;
            background: $color-for-colored-button;
         }

         &:checked ~ .pop-up-window-check-mark-button span{
            display: block;
            width: 0.42vw;
            height: 0.31vw;
            background: url(../../assets/icons/White-check-mark.svg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
         }
      }

      .pop-up-window-check-mark{

         &__title{
            font-size: 0.73vw;
            font-weight: 400;
            line-height: 0.99vw;
            color: $color-light;
            &:hover{
               cursor: pointer;
            }
            a{
               text-decoration: none;
               color: $color-for-colored-button;
            }
         }
      }
}

#order-call-pop-up-window{
   display: none;
}

#order-call-pop-up-window:checked ~ .order-call-pop-up-window-form{
   display: flex;
   flex-direction: column;
   position: absolute;
   top: 1.56vw;
   right: -6.77vw;
   z-index: 2;
}

.order-call-pop-up-window__close-button{
   display: none;
   position: absolute;
   width: 1.04vw;
   height: 1.04vw;
   background: url(../../assets/icons/Close-button.svg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

#order-call-pop-up-window:checked ~ .order-call-pop-up-window__close-button{
   display: block;
   top: 2.66vw;
   right: -5.73vw;
   z-index: 4;
}




