.price{
   display: flex;
   align-items: center;
   text-decoration: none;

   &__title{
      width: 7.66vw;
      font-size: 0.57vw;
      font-weight: 700;
      line-height: 0.99vw;
      letter-spacing: 5%;
      margin-left: 0.57vw;
      color: $color-links;
      position: relative;
   }

   &__title:hover &__red-point-block &__red-point{
      margin-right: 0.1vw;
      transition: 0.5s;
      cursor: pointer;
   }

   &__title:not(hover) &__red-point-block &__red-point{
      transition: 0.5s;
   }

   &__red-point-block{
      top: 0.26vw;
      left: 0;
      .price__red-point{
         margin-right: 0.16vw;
         &--mr-0{
            margin-right: 0;
         }
      }
   }
}